.App {
	height: 100vh;
	min-height: 100vh;
	max-height: 100vh;
	text-align: center;
	color: white;
}
button {
	margin: auto;
	border-radius: 50%;
	border-width: 0;
	box-shadow: 1px 1px 5px 1px white, -1px -1px 5px, white, -1px 1px 5px white,
		1px -1px 5px white;
	color: rgb(255, 255, 255);
}
.break {
	grid-area: break;
}
.btn-row {
	display: flex;
	justify-content: center;
	margin-bottom: 3.2%;
}
.circle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	grid-area: circle;
	margin: auto;
	left: 0;
	right: 0;
	border-radius: 50%;
	width: 50vw;
	aspect-ratio: 1 / 1;
	padding: none;
	font-size: 2vw;
}
.circle-path {
	stroke-width: 10px;
	fill: none;
	stroke-linecap: round;
	transform: rotate(95deg);
	transition: 1s linear all;
}
.container {
	display: grid;
	grid-template-areas:
		". circle ."
		"session circle break";
	grid-template-columns: 20% 1fr 20%;

	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	min-width: 100%;
	min-height: 100%;
	background-color: rgb(0, 50, 75);
}
.decrement-buttons {
	grid-area: decrement;
}
.dynamic-timer-circle-svg {
	position: absolute;
	width: 50vw;
}
.fa-arrow {
	color: rgb(96, 132, 161);
}
.fa-pause,
.fa-play {
	max-width: 100%;
	max-height: 100%;
	margin: 0;
	padding: 0;
}
.increment-buttons {
	grid-area: increment;
}
.labels {
	grid-area: label;
	margin-bottom: 15px;
	font-size: 150%;
}
.length-values {
	grid-area: value;
	align-self: center;
	flex-basis: 15%;
	padding: 0;
	font-size: 2vw;
}
.start-refresh-buttons {
	margin: 0;
	height: max-content;
	aspect-ratio: 1 / 1;
	padding: 0;
	background-color: rgb(0, 50, 75);
}
.start-pause-refresh-buttons {
	display: flex;
	justify-content: space-evenly;
	position: relative;
	bottom: -12%;
	min-width: 45%;
	padding: 0;
}
.settings-buttons {
	margin: 0;
	align-self: center;
	flex-basis: 20%;
	height: max-content;
	aspect-ratio: 1 / 1;
	background-color: rgb(96, 132, 161);
}
.session {
	grid-area: session;
}
.time-left {
	padding: 0;
	font-size: 13vw;
	line-height: 85%;
}

.time-modifiers {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 100%;
	min-width: 100%;
	padding: 0;
}
.timed-buttons {
	display: "flex";
	flex-direction: row;
	justify-content: "space-evenly";
	right: 5%;
	border: solid yellow;
}
.timer-label {
	align-self: flex-start;
	margin-left: 20.5%;
	margin-bottom: -2%;
	font-size: 2.5vw;
	font-weight: 100;
}

// .................MEDIA QUERIES..............................

@media screen and (max-width: 576px) {
	.break {
		margin-top: 0;
	}
	.circle {
		margin-top: 10%;
		width: 90vw;
		aspect-ratio: 1 / 1;
		font-size: 3.5vw;
	}
	.container {
		grid-template-areas:
			"circle"
			"session"
			"break";
		grid-template-columns: 1fr;
	}
	.dynamic-timer-circle-svg {
		width: 90vw;
	}
	.length-values {
		font-size: 10vw;
		align-self: center;
	}
	.time-left {
		padding: 0;
		font-size: 27.5vw;
		line-height: 85%;
	}
	.timer-label {
		margin-left: 15.5%;
		font-size: 4vw;
	}
	.start-pause-refresh-buttons {
		min-width: 50%;
		max-width: 50%;
	}
	.session {
		margin-top: 0;
	}
	.settings-buttons {
		flex-basis: 17%;
	}
}
